th{
	font-size:10px;
}

.basic  {
	width: 100%;
	font-family: verdana;
	border: 1px solid black;
}
.basic div {
	
}

.basic p {
	margin-bottom : 10px;
	border: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	margin: 0px;
	padding: 10px;
}
.basic a {
	cursor:pointer;
	display:block;
	padding:5px;
	margin-top: 0;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: black;
	
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #999;
	
	background-image: url("AccordionTab0.gif");
}
.basic a:hover {
	
	background-image: url("AccordionTab2.gif");
}
.basic a.selected {
	color: black;
	
	background-image: url("AccordionTab2.gif");
}

