.xpnsld .logo-help {
  text-align: center;
  margin: 0 auto;
}

.xpnsld .footer-content {
  position: relative;
  margin: 0 auto;
}

.xpnsld .footer-content .footer-cr {
  position: absolute;
  left: 0;
  top: 40px;
  display: none;
  z-index: 1;
}

.xpnsld .footer-content .footer-cr .footer-cr-text {
  padding: 0;
  margin: 0 auto;
}

#plugin-xpandslider-form .choose-image, #plugin-xpandslider-list-form .zoom-image {
  cursor: pointer;
}
